$black: #222831;
$grey: #393E46;
$teal: #00ADB5;
$white: #EEEEEE;

.black-text {
  color: $black;
}

.grey-text {
  color: $grey;
}

.teal-text {
  color: $teal;
}

.white-text {
  color: white;
}

.black-background {
  background-color: $black;
}

.grey-background {
  background-color: $grey;
}

.teal-background {
  background-color: $teal;
}

.white-background {
  background-color: white;
}
