@import '../../styles/colors';

.footer {
  position: fixed;
  bottom: 0;
}

.navigation {
  color: $white;
  font-size: 1.5rem;
  display: flex;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: $black;
  justify-content: center;
  .menu-item {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover {
      color: $teal;
    }
  }
}

.menu-icon {
  color: $teal !important;
  background-color: $grey !important;
  margin: 10px !important;
}

.small-navigation {
  font-size: 1rem;
  div {
    padding-bottom: 10px !important;
    border-bottom: 1px solid $white;
  }
}

.white-shadow {
  box-shadow: 0 0 10px $white;
}

#menu-appbar {
  div {
    ul {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
