.footer {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navigation {
  font-size: 2em;
  display: flex;
  justify-content: center;
  div {
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
  }
}
