@font-face {
  font-family: space;
  src: url("../VeniteAdoremusStraight.ttf")
}

* {
  font-family: space, sans-serif;
}

.main-class {
  position: relative;
  display: flex;
  padding-bottom: 15vh;
}

.main-class::before {
  background-image: url('space-background.jpeg');
  background-size: contain;
  background-repeat: repeat-y;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.main-container {
  position: relative;
}
